body {
  margin: 1em;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 18px;
}
button, input {
    font-size: 16px;
}
.form {
    margin-bottom: 1em;
}
.result {
  display: flex;
  align-items: center;
}
.name {
  flex-grow:1;
  padding: 0 5px;
  text-transform: capitalize;
}
.rti--tag {
  text-transform: capitalize;
}
li:nth-child(odd) {
  background: #eee;
}
#output {
  max-width: 800px;
}
.footer {
  margin-top: 50px;
  color: #aaa;
}
.footer a, .footer a:visited {
  color: #1b73e9;
}
.container {
  display: flex;
  flex-direction: row;
}
.left {
  min-width: 400px;
}
.left ul {
  padding: 0;
}
.rti--tag {
  background-color: whiteSmoke;
  background-image: linear-gradient(top, whiteSmoke, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.rti--container {
  margin-bottom: 5px;
}
em {
  margin-top: 0.5em;
  font-size: small;
  color: #757575;
}
.searchButtons .logo {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: none;
  margin: 2px;
  background-size: contain;
  background-position: center;
}
.searchButtons a {
  cursor: pointer;
}
.google {
  background: url("../public/google.svg");
}
.ddg {
  background: url("../public/duckduckgo.svg");
}
.facebook {
  background: url("../public/facebook.svg");
}
.hide {
  display: none;
}
